      
<div class = "container push-down1">

    <div class="page-header text-center">
    	<h1>Internet Bookmark Manager <small>a repository for your bookmarks</small></h1>

	<!-- <img src="../assets/book-mgr.png" alt="Bookmark Manager" height="48%" width="50%"> -->
	<img style="margin:0px auto;display:block" src="../assets/book-mgr.png" alt="Bookmark Manager" height="65%" width="75%"/>
	<br/>
	<br/>

	<div class="col-md-offset-2 col-md-8" style="text-align:left">
		<p>
			A Web application where you can store your Internet bookmark URL's securely on a cloud based MongoDB server. 
			You can create information Tags that can be attached to each bookmark URL to aid searching for them. You need to register before you can logon and use the application.

		</p>

		<aside> 
			<p>The source code for this Application can be forked from 
			<a href="https://github.com/mick26/Bookmark-Manager-Node-nG-Mongo">my GitHub account.</a> The initial client code was taken from 
			<a href="https://github.com/kdelemme/angularjs-bookmark-manager">Kevin Delemme</a> 
			</p>
		</aside>

	</div>

</div>