body {
	padding-top: 60px;
}

.menu {
	margin-bottom: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #f7f5fa;
	border-radius: 5px;
}

ul.bookmark {
	margin-left: 28px;
	margin-top: 5px;
}

.bookmark-item {
	background-color: #f7f5fa;
	padding: 5px;
	margin-bottom: 10px;
	margin-left: 10px;
	border-radius: 5px;
}